<script lang="ts">
import { RouterLink, RouterView } from 'vue-router';
import MenuHeader from "@/components/MenuHeader.vue";
import UserComponent from "@/components/UserComponent.vue";

export default {
  data(){
    return {
      user:null
    }
  },
  methods:{
    handleChange(){
      this.user = this.$store.getters.fullUser;
      console.log("onEmit",this.user);
    }
  },
  components:{
  }
}
</script>

<template>
  <div>
    <strong>WELCOME</strong>
  </div>
</template>

<style>

  #app{
    display: flex;
    position: fixed;
    padding: 0px;
  }

  .menu{
    background: #273645;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: end;
    }
  .container{
    display: flex;
    margin-top: 15px;
    float: left;
  }


  .body{
    color: black;
  }


</style>
