<template>
  <div class="login-container">
    <div class="login-form">
      <h2>Login</h2>
      <input type="text" v-model="email" placeholder="Email" class="input-text"/>
      <input type="password" v-model="password" placeholder="Password" class="input-text"/>
      <button class="create-button" @click="login">Login</button>
      <p class="new-user-prompt">
        Are you a new user? <router-link to="/register">Register here</router-link>
      </p>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import router from "@/router";

export default {
  data() {
    return {
      email: '',
      password: ''
    };
  },
  methods: {
    async login() {
      const user = {
        email: this.email,
        password:this.password,
      }
      console.log(user)
      await axios.post("http://localhost:4000/api/auth/login", user)
          .then(response => {
            console.log(response.data.token)
            this.token = response.data.token
            this.$store.commit("changeToken",this.token);
            this.$store.commit("changeConnected",true);
            this.$emit("login");
            this.$toast.add({severity: 'success', summary:'Success', detail:'User logged', life:3000})
            router.push({name: "home"})
          })
          .catch((err)=>{
            this.$toast.add({severity: 'error', summary:'Error', detail:'Something went wrong', life:3000})
            console.log(err)
          })
    }
  }
};
</script>

<style scoped>
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f4f7f6;
}

.login-form {
  padding: 2rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}


.login-form h2 {
  color: #333;
  margin-bottom: 2rem;
}

.input-text {
  margin-bottom: 1rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.create-button {
  padding: 1rem;
  font-size: 1rem;
  margin-top: 1rem;
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: #5cb85c;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-button:hover,
.create-button:focus {
  background-color: #4cae4c;
}

.create-button:disabled {
  background-color: #c6c8ca;
  color: #fff;
  cursor: not-allowed;
}
.new-user-prompt {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.new-user-prompt a {
  color: #007bff;
  text-decoration: none;
}

.new-user-prompt a:hover {
  text-decoration: underline;
}
</style>
