<template>
  <div class="register-container">
    <div class="register-form">
      <h2>Register</h2>
      <input type="email" v-model="email" placeholder="Email" class="input-field"/>
      <input type="text" v-model="username" placeholder="Username" class="input-field"/>
      <input type="password" v-model="password" placeholder="Password" class="input-field"/>
      <input type="password" v-model="confirmPassword" placeholder="Confirm Password" class="input-field"/>
      <button class="register-button" @click="register">Register</button>
      <p class="new-user-prompt">
        Are you a old user? <router-link to="/login">Login here</router-link>
      </p>
    </div>
  </div>
</template>

<script>
// ... Votre script ici
import axios from "axios";
import Home from "@/components/Home.vue";
import Login from "@/views/Login.vue";
import router from "@/router";

export default {
  data() {
    return {
      email: '',
      username: '',
      password: '',
      confirmPassword: '',
      token: ''
    };
  },
  methods: {
    async register() {
      const user = {
        email: this.email,
        username: this.username,
        role_id:"2",
        password:this.password,
        password_confirmation: this.confirmPassword
      }
      await axios.post("http://localhost:4000/api/auth/register", user)
          .then(response => {
            console.log(response.data.token)
            this.token = response.data.token
            this.$store.commit("changeToken",this.token);
            this.$toast.add({severity: 'success', summary:'Success', detail:'User registered', life:3000})
            router.push({name: "Login"})
          })
          .catch((err)=>{
            this.$toast.add({severity: 'error', summary:'Error', detail:'Something went wrong', life:3000})
            console.log(err)
          })
    }
  }
};
</script>

<style scoped>
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f7f6;
}

.register-form {
  padding: 2rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.register-form h2 {
  color: #333;
  margin-bottom: 2rem;
}

.input-field {
  margin-bottom: 1rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.register-button {
  padding: 1rem;
  font-size: 1rem;
  margin-top: 1rem;
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: #17a2b8;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover,
.register-button:focus {
  background-color: #138496;
}

.register-button:disabled {
  background-color: #c6c8ca;
  color: #fff;
  cursor: not-allowed;
}
.new-user-prompt {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.new-user-prompt a {
  color: #007bff;
  text-decoration: none;
}

.new-user-prompt a:hover {
  text-decoration: underline;
}

</style>
