<script lang="ts">
export default {
  data() {
    return {
      options: {
        chart: {
          id: 'vuechart-example'
        },
        xaxis: {
          categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998]
        }
      },
      series: [{
        name: 'series-1',
        data: [30, 40, 45, 50, 49, 60, 70, 91]
      }],
    }
  },
  methods: {
    async toto(){

    }
  }
}
</script>

<template>
  <div>
    <h1>Chart manager</h1>
    <br>
    <div class="flex">
      <div>
        <h2>Fisrt Graph</h2>
        <apexchart width="500" type="bar" :options="options" :series="series"></apexchart>
      </div>
      <div>
        <h2>Second Graph</h2>
        <apexchart width="500" type="area" :options="options" :series="series"></apexchart>
      </div>
    </div>
    <div class="flex">
      <div>
        <h2>Third Graph</h2>
        <apexchart width="500" type="line" :options="options" :series="series"></apexchart>
      </div>
    </div>
  </div>

</template>

<style scoped>
  .flex{
    display: flex;
    justify-content: space-evenly;
  }
</style>