<script  lang="ts">
import userService from "@/services/UserService";
import clockService from "@/services/ClockService";
import {toDate} from "@/shared/functions/DateFormat";
import workingTimeService from "@/services/WorkingTimeService";
import router from "@/router";

export default {
  data(){
    return{
      user : null,
      start:  null,
      active: null,
      clocks: []
    }
  },
  created() {
    // 1. Before the DOM has been set up
    this.initialize()
  },
  mounted() {

  },
  methods: {
    async initialize() {
      this.user = this.$store.getters.fullUser;
      this.clocks = await clockService.getClock(this.user.id);
      this.active = this.clocks[this.clocks.length-1].status;
    },
    async clockIn(){
      this.active = true;
      const newClock = {
        clock: {
          time: toDate(Date.now()),
          status: this.active,
        }
      };
      await clockService.createClock(this.user.id, newClock)
      this.clocks = await clockService.getClock(this.user.id);
    },
    async clockOut(){
      this.active = false;
      const newClock = {
        clock: {
          time: toDate(Date.now()),
          status: this.active,
        }
      };
      await clockService.createClock(this.user.id, newClock)
        .then(() => {
          this.$toast.add({severity: 'success', summary:'Success', detail:'Clock saved', life:3000})

        })
        .catch(e => {
          this.$toast.add({severity: 'error', summary:'Error', detail:'Something went wrong', life:3000})
          console.log(e)
        })
      this.clocks = await clockService.getClock(this.user.id);
      const newWorkingtime = {
        workingtime : {
          start : this.clocks[this.clocks.length-2].time,
          end : this.clocks[this.clocks.length-1].time
        }
      }
      await workingTimeService.CreateWorkingtime(this.user.id, newWorkingtime)
        .then(() => {
          this.$toast.add({severity: 'success', summary:'Success', detail:'Working time saved', life:3000})
        })
        .catch(e => {
          this.$toast.add({severity: 'error', summary:'Error', detail:'Something went wrong', life:3000})
          console.log(e)
        })
    },
  }
};
</script>

<template>
  <div>
    <h1>Clock manager</h1>
    <p>This page is used to used to declare hours worked </p>
    <br>
    <div class="searchContainer">
      <p-button  v-if="!active" label="Clock In" severity="info" @click="clockIn"/>
      <p-button  v-if="active" label="Clock Out" severity="warning" @click="clockOut"/>
    </div>
    <br>
    <div>
      <p-table :value="clocks" scrollable scrollHeight="400px" tableStyle="min-width: 50rem">
        <p-column field="time" header="Time"></p-column>
        <p-column field="status" header="Status"></p-column>
      </p-table>
    </div>
  </div>

</template>

<style scoped>
  .searchContainer{
    display: flex;
    align-items: center;
  }
</style>