<script lang="ts">
  export default {
    mounted(){
    }
  }
</script>

<template>
  <div class="container">
    <h1>Welcome on Time Manager</h1>
    <h2 style="color: darkgray">Begin by searching the user you need</h2>
  </div>
</template>

<style scoped>
  .container{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 200px;
    font-weight: bold;
    font-size: 40px;
  }
</style>