<script lang="ts">
import store from "../store"
export default {
  data(){
    return {
    }
  },
  mounted(){
  },
  methods: {
    redirect(routeName: string, params?) {
      if (params != null) {
        this.$router.push({name: routeName, params})
      } else {
        this.$router.push({name: routeName})
      }
    },
    logout() {
      store.commit("changeToken","");
      this.$store.commit("changeConnected",false);
      this.$emit("logout");
      this.$router.push({name: "Login"});
    }
  },

  props:{
    user: {
      required: false,
    },
  }
}
</script>

<template>
    <nav>
      <ul class="menu">
        <li><p class="link" @click="redirect('workingtimes', {user_id : user.id})">Working times</p></li>
        <li><p class="link" @click="redirect('clock', {username : user.username})">Clock manager</p></li>
        <li><p class="link" @click="redirect('chartmanager', {user_id : user.id})">Chart manager</p></li>
        <p-button label="Log out" @click="logout" severity="danger"/>
      </ul>
    </nav>
</template>

<style>
  .menu{
    //width: 100%;
    color: white;
    text-decoration: none;
  }
  .link{
    margin-right: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  .link:hover{
    color: #27ae60;
  }
  .link:active{
    font-weight: bold;
  }
  .but{
    height: 60%;
    margin-right: 5px;
    float: right;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .txt{

    color: #181818;
  }

</style>
