<template>
  <div class="user-container">
    <h2>User Management {{ user && user.username ? ': ' + user.username : '' }}</h2>
    <h3 v-if="user != null">Current user : {{user.username}} <br>Email: {{user.email}}</h3>


    <div class="user-table-container">
      <p-tabview class="tabview-class">
        <p-tabpannel header="Search user">
          <div class="search-container">
            <div class="flex-container">
              <div class="flex-item margin-custom">
                <p-radio-button style="margin-right: 5px;" v-model="selectedOption" inputId="email" name="option" value="email" />
                <label for="email" class="ml-2">Email</label>
              </div>
              <div class="flex-item">
                <p-radio-button style="margin-right: 5px;" v-model="selectedOption" inputId="username" name="option" value="username" />
                <label for="username" class="ml-2">Username</label>
              </div>
            </div>
            <div class="input-container">
              <p-input-text v-model="searchValue" placeholder="Search value..." class="input-text"/>
            </div>
          </div>

          <p-button label="Search" @click="GetUserByCriteria" severity="info"/>
        </p-tabpannel>
        <p-tabpannel header="Create user">
          <p-input-text v-model="username" placeholder="Username" class="input-text"/>
          <p-input-text v-model="email" placeholder="Email" class="input-text"/>
          <p-button label="Create" @click="createUser" severity="success" />
        </p-tabpannel>


        <p-tabpannel header="Update and Delete User">
          <p-input-text v-model="username" placeholder="Username" class="input-text"/>
          <p-input-text v-model="email" placeholder="Email" class="input-text"/>
          <p-button label="Update" @click="UpdateUser" severity="warning"/>
          <p-button label="Delete" @click="DeleteUser" severity="danger"/>
        </p-tabpannel>
      </p-tabview>
    </div>

  </div>
</template>

<script>

import axios from 'axios';
import userService from "@/services/UserService";
import router from "@/router";
import workingTimeService from "@/services/WorkingTimeService";
import {toDate} from "@/shared/functions/DateFormat";
export default {
  data() {
    return {
      username: '',
      email: '',
      selectedOption: null,
      searchValue: null,
      error: null,
      message: null,
      user: null
    };
  },
  methods: {
    async createUser(){
      const user = {
        user : {
          username: this.username,
          email: this.email
        }
      }
      await userService.CreateUser(user)
          .then(response =>{
            this.user = response.data.data;
            this.$store.commit("changeUser",this.user);

            this.$toast.add({severity: 'success', summary:'Success', detail:'New user saved', life:3000})
          })
          .catch(err => {
            this.$toast.add({severity: 'danger', summary:'Success', detail:'Something went wrong', life:3000})
            console.log(err)
          })
    },
    async UpdateUser() {
        const updatedUserData = {
          user: {
            username: this.username != null? this.username : this.user.username,
            email: this.email != null? this.email : this.user.email,
          },
        };
        await userService.UpdateUser(this.user.id, updatedUserData)
            .then(response =>{
              this.user = response.data.data;
              this.$store.commit("changeUser",this.user);
              this.$toast.add({severity: 'success', summary:'Success', detail:'User updated', life:3000})
            })
            .catch(err => {
              this.$toast.add({severity: 'danger', summary:'Success', detail:'Something went wrong', life:3000})
              console.log(err)
            })
    },

    async GetUserByCriteria() {
      console.log(this.selectedOption, this.searchValue)

      await userService.GetUserByCriteria(this.selectedOption, this.searchValue)
          .then(response =>{
            this.user = response.data.data;
            this.$store.commit("changeUser",this.user);
            this.$emit("changeUser");
            this.$toast.add({severity: 'success', summary:'Success', detail:'User found', life:3000})
            router.push({name:"home"});
          })
          .catch(err => {
            this.$toast.add({severity: 'danger', summary:'Success', detail:'Something went wrong', life:3000})
            console.log(err)
          })
    },

    async DeleteUser(){
      console.log(this.user)
      await userService.DeleteUser(this.user.id)
          .then(() => {
            this.$toast.add({severity: 'success', summary:'Success', detail:'User deleted', life:3000})
          })
          .catch(e => {
            this.$toast.add({severity: 'error', summary:'Error', detail:'Something went wrong', life:3000})
            console.log(e)
          })
    }
  },

}
</script>

<style scoped>
.flex-container{
  display: flex;
  margin-bottom: 10px;
}
.margin-custom{
  margin-right: 10px;
}
.input-text{
  background-color: white; border: 1px solid #03fc88; color: black
}
.tabview-class{
  border-radius: 30px;
}
.user-container {
  width: 550px;
  height: 100vh;
  padding: 20px;
  padding-top: 50px;
  background-color: #2c3e50;
  color: #ecf0f1;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 500;
}

.input-group {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #34495e;
  color: #ecf0f1;
  font-size: 16px;
}

button, .user-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #ecf0f1;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.user-btn.delete {
  background-color: #e74c3c;
}

.user-btn.delete:hover {
  background-color: #c0392b;
}

.success-message {
  background-color: #27ae60;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.error-message {
  background-color: #e74c3c;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.user-table-container {
  max-height: 400px;

  overflow-y: auto;
  margin-top: 20px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th, .user-table td {
  border: 1px solid #ecf0f1;
  padding: 10px;
  text-align: left;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #ecf0f1;
}

.icon-button:hover {
  color: #bdc3c7;
}
</style>