<script lang="ts">
import userService from "@/services/UserService";
import router from "@/router";
import workingTimeService from "@/services/WorkingTimeService";
import {toDate} from "@/shared/functions/DateFormat";
export default {
  data(){
    return{
      user : null,
      start:  null,
      end: null,
      message: null,
      workingtime_id : this.$route.params.workingtime_id ?? 1,
    }
  },
  created() {
  },
  mounted() {
    this.initialize()
  },
  methods : {
    async initialize() {
      this.user = this.$store.getters.fullUser;
      if(this.workingtime_id != 0){
        const response = await workingTimeService.GetWorkingtimeById(this.user.id, this.workingtime_id)
        this.start = response.data.start;
        this.end = response.data.end;
      }
    },
    back(){
      router.back();
    },
    async save(){

      const workingtime = {
        workingtime :{
          start: toDate(this.start),
          end: toDate(this.end)
        }
      }
      if(this.workingtime_id == 0){
        workingTimeService.CreateWorkingtime(this.user.id,workingtime)
            .then(() => {
              this.$toast.add({severity: 'success', summary:'Success', detail:'Working time saved', life:3000})
              router.push({name:"workingtimes", params:{user_id : this.user.id}});
            })
            .catch(e => {
              this.$toast.add({severity: 'error', summary:'Error', detail:'Something went wrong', life:3000})
              console.log(e)
            })
      }else {
        workingTimeService.UpdateWorkingtime(this.workingtime_id,workingtime)
            .then(() => {
              this.$toast.add({severity: 'success', summary:'Success', detail:'Working time updated', life:3000})
              router.push({name:"workingtimes", params:{user_id : this.user.id}});
            })
            .catch(e => {
              this.$toast.add({severity: 'error', summary: 'Error', detail: 'Something went wrong', life: 3000})
              console.log(e)
            })
      }
      }
  }
};
</script>

<template>
  <div>
    <h1>Add working time</h1>
    <p>This page is used for displaying, creating, modifying and deleting a working time</p>
    <br>
    <div class="searchContainer">
      <div style="margin-right: 40px">
        <span style="margin-right: 10px; font-weight: bold">Start:</span>
        <p-calendar v-model="start" inputId="start" />
      </div>
      <div style="margin-right: 40px">
        <span style="margin-right: 10px; font-weight: bold">End:</span>
        <p-calendar v-model="end" inputId="end" />
      </div>
    </div>
    <br>
    <div class="button-bar">
      <p-button label="Cancel" style="margin-right: 400px;" severity="danger" @click="back"/>
      <p-button label="Save" @click="save"/>
    </div>
  </div>

</template>

<style scoped>

.searchContainer{
  display: flex;
}
.button-bar{
  display: flex;
}
</style>