<template>
  <div>
    <div id="workingtimes">
      <h1>Working Times</h1>
      <p>This page is used to display the working times for the selected user</p>
      <h2>You are watching the working times of {{user && user.username}}</h2>
    </div>
    <br>
    <div class="searchContainer">
      <div style="margin-right: 40px">
        <span style="margin-right: 10px; font-weight: bold">Start:</span>
        <p-calendar v-model="start" inputId="start" />
      </div>
      <div style="margin-right: 40px">
        <span style="margin-right: 10px; font-weight: bold">End:</span>
        <p-calendar v-model="end" inputId="end" />
      </div>
      <p-toast/>
      <p-button label="Search" @click="getWorkingtimes" severity="info">Search</p-button>
    </div>
    <br>
    <div>
      <p-table :value="workingtimes" scrollable scrollHeight="400px" tableStyle="min-width: 50rem">
        <p-column field="start" header="Start"></p-column>
        <p-column field="end" header="End"></p-column>
        <p-column>
          <template #body="rowData">
            <p-button label="Edit" @click="editWorkingTime(rowData)" severity="warning"/>
          </template>
        </p-column>
        <p-column>
          <template #body="rowData">
            <p-button label="Delete" @click="deleteWorkingTime(rowData)" severity="danger"/>
          </template>
        </p-column>
      </p-table>
    </div>
    <br>
    <div>
      <p-button label="Add working time" @click="addWorkingTime"/>
    </div>
  </div>

</template>

<style scoped>
.searchContainer{
  display: flex;
}
</style>

<script lang="ts">
import userService from "@/services/UserService";
import workingTimeService from "@/services/WorkingTimeService";
import {toDate} from "@/shared/functions/DateFormat";
import router from "@/router";
export default {
  data(){
    return{
      user : null,
      workingtimes: [],
      start:  null,
      end: null
    }
  },
  created() {
    // 1. Before the DOM has been set up
  },
  mounted() {
    this.initialize()
  },
  methods: {
    async initialize() {
      this.user = this.$store.getters.fullUser;
    },
    async getWorkingtimes(){
      this.workingtimes = await workingTimeService.GetWorkingtimeByUser(this.user.id, toDate(this.start), toDate(this.end))
    },
    addWorkingTime(){
      router.push({ name: 'workingtime', params:{user_id: this.user.id, workingtime_id : 0} })
    },
    editWorkingTime(rowData){
      router.push({ name: 'workingtime', params:{user_id: this.user.id, workingtime_id : rowData.data.id} })
    },
    async deleteWorkingTime(rowData){
      await workingTimeService.DeleteWorkingtime(rowData.data.id)
          .then(() => {
            this.$toast.add({severity: 'success', summary:'Success', detail:'Working time deleted', life:3000})
            this.getWorkingtimes()
          })
          .catch(e => {
            this.$toast.add({severity: 'error', summary:'Error', detail:'Something went wrong', life:3000})
            console.log(e)
          })
    }
  },
};
</script>
