<script lang="ts">
import { RouterLink, RouterView } from 'vue-router';
import UserComponent from "@/components/UserComponent.vue";
import MenuHeader from "@/components/MenuHeader.vue";
//import MenuHeader from "@/components/MenuHeader.vue";
//import UserComponent from "@/components/UserComponent.vue";

export default {
  data(){
    return {
    user:null,
      connected :null,
    }
  },
  mounted(){
    this.getConnected();
  },
  methods:{
    handleChange(){
      this.user = this.$store.getters.fullUser;
      console.log("onEmit",this.user);
    },
    getConnected(){
      this.connected = this.$store.getters.getConnected;
    }
  },
  components:{
    MenuHeader,
    UserComponent
  }
}
</script>

<template>

  <div class="all">
    <p-toast/>
    <div v-if="connected" class="menu">
      <MenuHeader :user="user" @logout="getConnected"/>
    </div>
    <div v-if="connected" class="user">
      <UserComponent @change-user="handleChange"/>
    </div>
    <div class="container">
      <div class="body">
        <RouterView @login="getConnected"/>
      </div>
    </div>
  </div>
</template>

<style>
.all{
  color: black;
  width: 100vw;
  height: 100vh;
}
.body{
  display: flex;
  justify-content: center;
  //align-items: center;
  height: 100vh;
  width: 100vw;
  margin-left: 100px;
//background-color: blue;
}
.user{
  background-color: red;
  height: 200px;
  width: 200px;
}
/*
  #app{
    display: flex;
    position: fixed;
    padding: 0px;
  }

  .menu{
    background: #273645;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: end;
    }
  .container{
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-top: 50px;
    float: left;
  }
  .user{
    width: 550px;
    height: 100%;
  }
  .body{
    margin: 30px;
    padding: 20px;
    height: 100vh;
    width: 100vw;
    color: black;
  }

 */
</style>
